:root {
  --white: black;
  --background: #efe5dc;
  --orange: rgb(254, 160, 10);
  --button: rgb(51, 51, 51);
  --calAccent: #f1eedc;
}

body {
  background-color: var(--background);
  color: var(--white);
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: arial;
  text-align: center;
}
h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  margin-top: 5vh;
}
h2 {
  font-size: 1.5rem;
}
img {
  height: 50%;
}
.rps-btn {
  border-radius: 50%;
  height: clamp(100px, 10vw, 125px);
  width: clamp(100px, 10vw, 125px);
  margin: 5px;
  border: 3px solid var(--white);
  background-color: transparent;
  cursor: pointer;
}
#rps-reset-btn {
  background-color: var(--background);
  border-radius: 12px;
  padding: 10px;
  font-size: clamp(1rem, 5vw, 1.6rem);
  cursor: pointer;
}
.rps-text {
  font-size: clamp(1rem, 2vw, 2rem);
}
.rps-result-img {
  height: 5rem;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    margin-top: 20vw;
  }
}
